.container{
  width: 100%;
}
body{
  font-family: 'Istok Web', sans-serif;
  text-align: center;
}
#header{
  background-image: url("../img/pingpong.png");
  background-size: cover;
  text-align: center;
  background-color: grey;
  padding-bottom: 100px;
  width: 100%;
}
#header h1{
  text-shadow: 2px 2px white;
  font-size: 9em;
  padding-top: 100px;
  margin-top: 0px;
}
button{
  font-size: 2em;
}
#output{
  margin: 20px;
}
.form-group{
  padding-top: 10px;
  font-size: 2em;
  background-color: #dbfce0;
  margin-bottom: 0px;
}
ping,pong,pingpong,number{
  display: inline-block;
  line-height: 40px;
  font-size: 1.5em;
  margin: 4px;
  padding: 1px;
  text-align: center;
}
#rules{
background-color: #e0e0e0;
    font-size: 1.5em;
}
#subHeader{
  margin-bottom: 60px;
}

.white-background{
  background-color: white;
}
.ping-background{
  background-color: #ffe7c4;
}
.pong-background{
  background-color:  #bbf3f7;
}
.pingPong-background{
  background-color: #fbd6fc;
}
.number-background{
  background-color: #dbfce0;
}
.black-border{
  border: 2px solid black;
}
.grey-border{
    border: 2px solid grey;
}
